@use '../abstracts/breakpoints' as bp;

.app {
    display: flex;
    width: 100%;
    min-height: 100vh;

    // ==============================
    // CONTENEDOR DERECHO
    // ==============================

    &__main {
        flex: 1;
        min-width: 0;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
    }

    // ==============================
    // TABLET Y MÓVIL
    // ==============================

    @include bp.tablet-down {

        &__main {
            width: 100%;
        }
    }
}